<!DOCTYPE html>
<html>
<head>
	<title>Seguro da Hora</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container ">
				<div class="navbar-heading">
				<a class="navbar-brand" href="#">
					<img width="150px" alt="Brand" src="img/logo-segurodahora-02.svg">
				</a>
			</div>
		</div>
	</nav>


	<div class="container">
		<strong> <h3>blablbalblablablalbla <br> blablblablalbalblalbalbla</h3>
		</strong>
		<img class="img-responsive" src="img/img_title_01.jpg">
	
		<p>ciac cmimfdmf fiwnfkniv fi
		kfwejfijwioejfiwejfiwejotjorjr
		jjgijeroi rijg ergier gier girhghe
		jhjgirngiijdg r8gnjr gdrbugbjd rg
		giurgj og rjdngjr gudrgj dfiybvrd 
		gnrngouhrjd gonrsjg rs gs osr gub
		ogbusgoushhfsn fjobs  h sib sgbun
		nsrgnignksnfgnsjlgnirngjln</p>
	</div>





	<div class="row">
		<section id="posts" class="container projeto-responsivo">
		<div class="container"><h3>mais recentes</h3>
		</div>
			<figure  class="container col-sm-6 col-sm-4" id="divbody">
				<img class="img-responsive" src="img/img_title_01.jpg" alt="titulo01">
				<figcaption class="caption">
					<h3>titulo 01</h3>
					<p>jhid idjaosdj ojdoasdjoasd mdiasniisjdajsdij</p> 
					<a href="#">ver mais</a>
				</figcaption>
			</figure>

			<figure  class="container col-sm-6 col-sm-4" id="divbody">
				<img class="img-responsive" src="img/img_title_02.jpg" alt="titulo02">
				<figcaption class="caption">
					<h3>titulo 02</h3>
					<p>jhid idjaosdj ojdoasdjoasd mdiasniisjdajsdij</p> 
					<a href="#">ver mais</a>
				</figcaption>
			</figure>
		</section>
	</div>

<footer class="text-center">
		<img height: 20px; width="190" src="img/logo-segurodahora-02.svg">
		<div class="footer_links"  >
			<a href="" class="footer_links">home</a>
			<a href="" class="footer_links">blog</a>
			<a href="" class="footer_links">contato</a>

		</div>

		<ul class="social-networks">
			<li>
				<img width="50" src="img/face-botão.jpg"  >
			</li>
			<li>
				<img width="50" src="img/twitter-botão.jpg" >

			</li>
			<li>
				<img width="50" src="img/insta-botão.jpg" >
			</li>
		</ul>

</footer>
<!-- JS -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
</body>
</html>